body {
  font-family: 'Lucida Sans Unicode';
}

/* .myDatePicker fieldset.MuiOutlinedInput-notchedOutline {
  border-color: green;
} */

.myDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #F37037;
}

